<!DOCTYPE html>
<html dir="ltr" lang="en-US" prefix="og: https://ogp.me/ns#" class=" yes-js js_active js"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
<link rel="profile" href="https://gmpg.org/xfn/11">

				<script async="" src="js/fbevents.js"></script><script>document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
			<title>Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements</title>
	<style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
	
		<!-- All in One SEO 4.8.6.1 - aioseo.com -->
	<meta name="description" content="Free Bodybuilding eBooks Secret to Mail Order Steroids 2024 Underground Oral Steroid Handbook Underground Injectable Steroids Handbook Bionic SARMS Underground Peptides Handbook - Digital eBook Underground Steroid Cycles Handbook Beligas Pharmaceuticals 2024 Underground Guide Nootropics Underground Handbook EUROPHARMA 2024 Steroid Handbook Para Pharma 2024 Steroid Guide Geneza Pharmaceuticals Underground Steroid Catalog Australian Labs Underground Guide">
	<meta name="robots" content="max-image-preview:large">
	<link rel="canonical" href="https://irongorillas.com/">
	<meta name="generator" content="All in One SEO (AIOSEO) 4.8.6.1">
		<meta property="og:locale" content="en_US">
		<meta property="og:site_name" content="Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements">
		<meta property="og:description" content="Free Bodybuilding eBooks Secret to Mail Order Steroids 2024 Underground Oral Steroid Handbook Underground Injectable Steroids Handbook Bionic SARMS Underground Peptides Handbook - Digital eBook Underground Steroid Cycles Handbook Beligas Pharmaceuticals 2024 Underground Guide Nootropics Underground Handbook EUROPHARMA 2024 Steroid Handbook Para Pharma 2024 Steroid Guide Geneza Pharmaceuticals Underground Steroid Catalog Australian Labs Underground Guide">
		<meta property="og:url" content="https://irongorillas.com/">
		<meta property="og:image" content="images/irongorilla-logo-1.png">
		<meta property="og:image:secure_url" content="images/irongorilla-logo-1.png">
		<meta property="article:published_time" content="2023-12-19T10:15:43+00:00">
		<meta property="article:modified_time" content="2025-06-10T04:53:21+00:00">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements">
		<meta name="twitter:description" content="Free Bodybuilding eBooks Secret to Mail Order Steroids 2024 Underground Oral Steroid Handbook Underground Injectable Steroids Handbook Bionic SARMS Underground Peptides Handbook - Digital eBook Underground Steroid Cycles Handbook Beligas Pharmaceuticals 2024 Underground Guide Nootropics Underground Handbook EUROPHARMA 2024 Steroid Handbook Para Pharma 2024 Steroid Guide Geneza Pharmaceuticals Underground Steroid Catalog Australian Labs Underground Guide">
		<meta name="twitter:image" content="images/irongorilla-logo-1.png">

		<!-- All in One SEO -->

<script type="text/javascript">
    (function() {
  var pvData = {"source":"Direct","referrer":"Direct","visitor_type":"logged out","visitor_login_status":"logged out","visitor_id":0,"page_title":"Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements","post_type":"page","post_type_with_prefix":"single page","post_categories":"","post_tags":"","post_author":"igadm","post_full_date":"December 19, 2023","post_year":"2023","post_month":"12","post_day":"19","is_front_page":1,"is_home":1,"search_query":"","search_results_count":0};
  var body = {
    url: encodeURIComponent(window.location.href),
    referrer: encodeURIComponent(document.referrer)
  };

  function makePostRequest(e,t){var n=[];if(t.body){for(var o in t.body)n.push(encodeURIComponent(o)+"="+encodeURIComponent(t.body[o]));t.body=n.join("&")}return window.fetch?new Promise(n=>{var o={method:"POST",headers:{"Content-Type":"application/x-www-form-urlencoded"},redirect:"follow",body:{},...t};window.fetch(e,o).then(e=>{n(e.text())})}):new Promise(t=>{var o;"undefined"==typeof XMLHttpRequest&&t(null),(o=new XMLHttpRequest).open("POST",e,!0),o.onreadystatechange=function(){4==o.readyState&&200==o.status&&t(o.responseText)},o.setRequestHeader("Content-type","application/x-www-form-urlencoded"),o.send(n.join("&"))})}
  function observeAjaxCartActions(e){new PerformanceObserver(function(t){for(var n=t.getEntries(),r=0;r<n.length;r++)["xmlhttprequest","fetch"].includes(n[r].initiatorType)&&['=get_refreshed_fragments', 'add_to_cart'].some(p => n[r].name.includes(p))&&fetchCart(e)}).observe({entryTypes:["resource"]})};

  function fetchCart(adapter) {
    makePostRequest("//irongorillas.com/index.php?plugin=optimonk&action=cartData", { body })
      .then((response) => {
        var data = JSON.parse(response);
        setCartData(data, adapter);
      })
  }

  function setCartData(cartData, adapter) {
    Object.keys(cartData.avs).forEach((key, value) => {
      adapter.attr(`wp_${key}`, cartData.avs[key]);
    })
  }

  function setAssocData(assocData, adapter) {
    Object.keys(assocData).forEach((key) => {
      adapter.attr(`wp_${key}`, assocData[key]);
    })
  }

  var RuleHandler = {
    hasVisitorCartRules: (campaignMeta) => {
      return !!(campaignMeta.rules.visitorCart || campaignMeta.rules.visitorCartRevamp || campaignMeta.rules.visitorCartV3);
    },
    hasVisitorAttributeRule: (campaignMeta) => {
      return !!campaignMeta.rules.visitorAttribute;
    }
  }

  document.querySelector('html').addEventListener('optimonk#embedded-campaigns-init', function(e) {
    var campaignsData = e.parameters;

    if (!campaignsData.length) {
      return;
    }

    var adapter = window.OptiMonkEmbedded.Visitor.createAdapter();
    var hasCartRule = false;
    var hasAttributeRule = false;

    campaignsData.forEach((campaignMetaData) => {
      hasCartRule = hasCartRule || RuleHandler.hasVisitorCartRules(campaignMetaData);
      hasAttributeRule = hasAttributeRule || RuleHandler.hasVisitorAttributeRule(campaignMetaData);
    });

    setAssocData(pvData, adapter);

    if (hasCartRule) {
      observeAjaxCartActions(adapter);
      fetchCart(adapter);
    }

    if (hasAttributeRule) {
      makePostRequest("//irongorillas.com/index.php?plugin=optimonk&action=productData", { body })
        .then((response) => {
          var data = JSON.parse(response);
          setAssocData(data, adapter);
        })
    }
  });

  document.querySelector('html').addEventListener('optimonk#campaigns_initialized', function () {
    if (!OptiMonk.campaigns) {
      return;
    }

    var adapter = window.OptiMonk.Visitor.createAdapter();

    setAssocData(pvData, adapter);

    if (OptiMonk.campaigns.filter(campaign => campaign.hasVisitorAttributeRules()).length) {
      makePostRequest("//irongorillas.com/index.php?plugin=optimonk&action=productData", { body })
        .then((response) => {
          var data = JSON.parse(response);
          setAssocData(data, adapter);
        });
    }
  });
}());

    window.WooDataForOM = {
    "shop": {
        "pluginVersion": "2.1.1",
        "platform": "woocommerce"
    },
    "page": {
        "postId": 3134,
        "postType": "page"
    },
    "product": null,
    "order": null
};

let hasCampaignsBeforeLoadTriggered = false;

document.querySelector('html').addEventListener('optimonk#campaigns-before-load', () => {

    if (hasCampaignsBeforeLoadTriggered) return;
    hasCampaignsBeforeLoadTriggered = true;

    function setAssocData(assocData, adapter) {
        Object.keys(assocData).forEach((key) => {
        adapter.attr(`wp_${key}`, assocData[key]);
        })
    }

   function triggerEvent(element, eventName, parameters) {
        let event;
        if (document.createEvent) {
            event = document.createEvent('HTMLEvents');
            event.initEvent(eventName, true, true);
        } else if (document.createEventObject) {
            event = document.createEventObject();
            event.eventType = eventName;
        }

        event.eventName = eventName;
        event.parameters = parameters || {};

        if (element.dispatchEvent) {
            element.dispatchEvent(event);
        } else if (element.fireEvent) {
            element.fireEvent(`on${event.eventType}`, event);
        } else if (element[eventName]) {
            element[eventName]();
        } else if (element[`on${eventName}`]) {
            element[`on${eventName}`]();
        }
    };
    
    var adapter = OptiMonkEmbedded.Visitor.createAdapter();

    var orderData = null;
    

    if (orderData) {
        setAssocData(orderData, adapter);
    }

    console.log('[OM-plugin] visitor attributes updated');

    console.log('[OM-plugin] triggered event: optimonk#wc-attributes-updated');
    triggerEvent(document.querySelector('html'), 'optimonk#wc-attributes-updated');

});

if (window.WooDataForOM) {
    console.log('[OM-plugin] varibles inserted (window.WooDataForOM)');
}


</script>
