<!DOCTYPE html>
<html dir="ltr" lang="en-US" prefix="og: https://ogp.me/ns#" class=" yes-js js_active js"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
<link rel="profile" href="https://gmpg.org/xfn/11">
<script>document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
			<title>Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements</title>
	<style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
	
		<!-- All in One SEO 4.8.6.1 - aioseo.com -->
	<meta name="description" content="Free Bodybuilding eBooks Secret to Mail Order Steroids 2024 Underground Oral Steroid Handbook Underground Injectable Steroids Handbook Bionic SARMS Underground Peptides Handbook - Digital eBook Underground Steroid Cycles Handbook Beligas Pharmaceuticals 2024 Underground Guide Nootropics Underground Handbook EUROPHARMA 2024 Steroid Handbook Para Pharma 2024 Steroid Guide Geneza Pharmaceuticals Underground Steroid Catalog Australian Labs Underground Guide">
	<meta name="robots" content="max-image-preview:large">
	<link rel="canonical" href="https://irongorillas.com/">
	<meta name="generator" content="All in One SEO (AIOSEO) 4.8.6.1">
		<meta property="og:locale" content="en_US">
		<meta property="og:site_name" content="Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements">
		<meta property="og:description" content="Free Bodybuilding eBooks Secret to Mail Order Steroids 2024 Underground Oral Steroid Handbook Underground Injectable Steroids Handbook Bionic SARMS Underground Peptides Handbook - Digital eBook Underground Steroid Cycles Handbook Beligas Pharmaceuticals 2024 Underground Guide Nootropics Underground Handbook EUROPHARMA 2024 Steroid Handbook Para Pharma 2024 Steroid Guide Geneza Pharmaceuticals Underground Steroid Catalog Australian Labs Underground Guide">
		<meta property="og:url" content="https://irongorillas.com/">
		<meta property="og:image" content="images/irongorilla-logo-1.png">
		<meta property="og:image:secure_url" content="images/irongorilla-logo-1.png">
		<meta property="article:published_time" content="2023-12-19T10:15:43+00:00">
		<meta property="article:modified_time" content="2025-06-10T04:53:21+00:00">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements">
		<meta name="twitter:description" content="Free Bodybuilding eBooks Secret to Mail Order Steroids 2024 Underground Oral Steroid Handbook Underground Injectable Steroids Handbook Bionic SARMS Underground Peptides Handbook - Digital eBook Underground Steroid Cycles Handbook Beligas Pharmaceuticals 2024 Underground Guide Nootropics Underground Handbook EUROPHARMA 2024 Steroid Handbook Para Pharma 2024 Steroid Guide Geneza Pharmaceuticals Underground Steroid Catalog Australian Labs Underground Guide">
		<meta name="twitter:image" content="images/irongorilla-logo-1.png">

		<!-- All in One SEO -->

<script type="text/javascript">
    (function() {
  var pvData = {"source":"Direct","referrer":"Direct","visitor_type":"logged out","visitor_login_status":"logged out","visitor_id":0,"page_title":"Iron Gorillas eBooks - Bodybuilding,Steroids,SARMS,Peptides,Supplements","post_type":"page","post_type_with_prefix":"single page","post_categories":"","post_tags":"","post_author":"igadm","post_full_date":"December 19, 2023","post_year":"2023","post_month":"12","post_day":"19","is_front_page":1,"is_home":1,"search_query":"","search_results_count":0};
  var body = {
    url: encodeURIComponent(window.location.href),
    referrer: encodeURIComponent(document.referrer)
  };

  function makePostRequest(e,t){var n=[];if(t.body){for(var o in t.body)n.push(encodeURIComponent(o)+"="+encodeURIComponent(t.body[o]));t.body=n.join("&")}return window.fetch?new Promise(n=>{var o={method:"POST",headers:{"Content-Type":"application/x-www-form-urlencoded"},redirect:"follow",body:{},...t};window.fetch(e,o).then(e=>{n(e.text())})}):new Promise(t=>{var o;"undefined"==typeof XMLHttpRequest&&t(null),(o=new XMLHttpRequest).open("POST",e,!0),o.onreadystatechange=function(){4==o.readyState&&200==o.status&&t(o.responseText)},o.setRequestHeader("Content-type","application/x-www-form-urlencoded"),o.send(n.join("&"))})}
  function observeAjaxCartActions(e){new PerformanceObserver(function(t){for(var n=t.getEntries(),r=0;r<n.length;r++)["xmlhttprequest","fetch"].includes(n[r].initiatorType)&&['=get_refreshed_fragments', 'add_to_cart'].some(p => n[r].name.includes(p))&&fetchCart(e)}).observe({entryTypes:["resource"]})};

  function fetchCart(adapter) {
    makePostRequest("//irongorillas.com/index.php?plugin=optimonk&action=cartData", { body })
      .then((response) => {
        var data = JSON.parse(response);
        setCartData(data, adapter);
      })
  }

  function setCartData(cartData, adapter) {
    Object.keys(cartData.avs).forEach((key, value) => {
      adapter.attr(`wp_${key}`, cartData.avs[key]);
    })
  }

  function setAssocData(assocData, adapter) {
    Object.keys(assocData).forEach((key) => {
      adapter.attr(`wp_${key}`, assocData[key]);
    })
  }

  var RuleHandler = {
    hasVisitorCartRules: (campaignMeta) => {
      return !!(campaignMeta.rules.visitorCart || campaignMeta.rules.visitorCartRevamp || campaignMeta.rules.visitorCartV3);
    },
    hasVisitorAttributeRule: (campaignMeta) => {
      return !!campaignMeta.rules.visitorAttribute;
    }
  }

  document.querySelector('html').addEventListener('optimonk#embedded-campaigns-init', function(e) {
    var campaignsData = e.parameters;

    if (!campaignsData.length) {
      return;
    }

    var adapter = window.OptiMonkEmbedded.Visitor.createAdapter();
    var hasCartRule = false;
    var hasAttributeRule = false;

    campaignsData.forEach((campaignMetaData) => {
      hasCartRule = hasCartRule || RuleHandler.hasVisitorCartRules(campaignMetaData);
      hasAttributeRule = hasAttributeRule || RuleHandler.hasVisitorAttributeRule(campaignMetaData);
    });

    setAssocData(pvData, adapter);

    if (hasCartRule) {
      observeAjaxCartActions(adapter);
      fetchCart(adapter);
    }

    if (hasAttributeRule) {
      makePostRequest("//irongorillas.com/index.php?plugin=optimonk&action=productData", { body })
        .then((response) => {
          var data = JSON.parse(response);
          setAssocData(data, adapter);
        })
    }
  });

  document.querySelector('html').addEventListener('optimonk#campaigns_initialized', function () {
    if (!OptiMonk.campaigns) {
      return;
    }

    var adapter = window.OptiMonk.Visitor.createAdapter();

    setAssocData(pvData, adapter);

    if (OptiMonk.campaigns.filter(campaign => campaign.hasVisitorAttributeRules()).length) {
      makePostRequest("//irongorillas.com/index.php?plugin=optimonk&action=productData", { body })
        .then((response) => {
          var data = JSON.parse(response);
          setAssocData(data, adapter);
        });
    }
  });
}());

    window.WooDataForOM = {
    "shop": {
        "pluginVersion": "2.1.1",
        "platform": "woocommerce"
    },
    "page": {
        "postId": 3134,
        "postType": "page"
    },
    "product": null,
    "order": null
};

let hasCampaignsBeforeLoadTriggered = false;

document.querySelector('html').addEventListener('optimonk#campaigns-before-load', () => {

    if (hasCampaignsBeforeLoadTriggered) return;
    hasCampaignsBeforeLoadTriggered = true;

    function setAssocData(assocData, adapter) {
        Object.keys(assocData).forEach((key) => {
        adapter.attr(`wp_${key}`, assocData[key]);
        })
    }

   function triggerEvent(element, eventName, parameters) {
        let event;
        if (document.createEvent) {
            event = document.createEvent('HTMLEvents');
            event.initEvent(eventName, true, true);
        } else if (document.createEventObject) {
            event = document.createEventObject();
            event.eventType = eventName;
        }

        event.eventName = eventName;
        event.parameters = parameters || {};

        if (element.dispatchEvent) {
            element.dispatchEvent(event);
        } else if (element.fireEvent) {
            element.fireEvent(`on${event.eventType}`, event);
        } else if (element[eventName]) {
            element[eventName]();
        } else if (element[`on${eventName}`]) {
            element[`on${eventName}`]();
        }
    };
    
    var adapter = OptiMonkEmbedded.Visitor.createAdapter();

    var orderData = null;
    

    if (orderData) {
        setAssocData(orderData, adapter);
    }

    console.log('[OM-plugin] visitor attributes updated');

    console.log('[OM-plugin] triggered event: optimonk#wc-attributes-updated');
    triggerEvent(document.querySelector('html'), 'optimonk#wc-attributes-updated');

});

if (window.WooDataForOM) {
    console.log('[OM-plugin] varibles inserted (window.WooDataForOM)');
}


</script>
<script type="text/javascript" src="js/script.js" async=""></script><script type="application/javascript" id="pys-version-script">console.log('PixelYourSite Free version 11.1.0');</script>
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">

<link rel="stylesheet" id="wp-block-library-css" href="css/style.min.css" media="all">
<style id="classic-theme-styles-inline-css">
/*! This file is auto-generated */
.wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}
</style>
<link rel="stylesheet" id="bwgb-style-css-css" href="css/frontend_blocks.css" media="all">
<style id="bwgb-style-css-inline-css">
:root {
			--content-width: 980px;
		}
</style>
<style id="global-styles-inline-css">
:root{--wp--preset--aspect-ratio--square: 1;--wp--preset--aspect-ratio--4-3: 4/3;--wp--preset--aspect-ratio--3-4: 3/4;--wp--preset--aspect-ratio--3-2: 3/2;--wp--preset--aspect-ratio--2-3: 2/3;--wp--preset--aspect-ratio--16-9: 16/9;--wp--preset--aspect-ratio--9-16: 9/16;--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--color--primary: #f75454;--wp--preset--color--secondary: #161619;--wp--preset--color--primary-green: #88cf00;--wp--preset--color--primary-yellow: #fced70;--wp--preset--color--info: #17a2b8;--wp--preset--color--yellow-darker: #ffbd00;--wp--preset--color--bg-gray-200: #fff6f6;--wp--preset--color--primary-home-v-3: #041e42;--wp--preset--color--primary-indigo: #a200fc;--wp--preset--color--bg-white: #ffffff;--wp--preset--color--tangerine: #f79400;--wp--preset--color--tangerine-light: #faf4eb;--wp--preset--color--chili: #f01000;--wp--preset--color--chili-light: #f4e6e5;--wp--preset--color--carolina: #00cdef;--wp--preset--color--carolina-light: #e6f2f4;--wp--preset--color--punch: #ff8e8e;--wp--preset--color--bg-dark-1: #2d3942;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flex{display: flex;}.is-layout-flex{flex-wrap: wrap;align-items: center;}.is-layout-flex > :is(*, div){margin: 0;}body .is-layout-grid{display: grid;}.is-layout-grid > :is(*, div){margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}
:root :where(.wp-block-pullquote){font-size: 1.5em;line-height: 1.6;}
</style>
<link rel="stylesheet" id="pb_animate-css" href="css/animate.css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" media="all">
<link rel="stylesheet" id="dscf7-math-captcha-style-css" href="css/style_003.css" media="">
<link rel="stylesheet" id="mas-wc-brands-style-css" href="css/style_002.css" media="all">
<link rel="stylesheet" id="rt-fontawsome-css" href="css/font-awesome.min.css" media="all">
<link rel="stylesheet" id="rt-tpg-css" href="css/thepostgrid.min.css" media="all">
<style id="woocommerce-inline-inline-css">
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel="stylesheet" id="wpsl-styles-css" href="css/styles.min.css" media="all">
<link rel="stylesheet" id="brands-styles-css" href="css/brands.css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="css/fontawesome-all.min.css" media="all">
<link rel="stylesheet" id="flaticon-css" href="css/flaticon.css" media="all">
<link rel="stylesheet" id="animate-css" href="css/animate_002.css" media="all">
<link rel="stylesheet" id="bootstrap-select-css" href="css/bootstrap-select.min.css" media="all">
<link rel="stylesheet" id="slick-css" href="css/slick.css" media="all">
<link rel="stylesheet" id="m-custom-scrollbar-css" href="css/jquery.mCustomScrollbar.css" media="all">
<link rel="stylesheet" id="fancybox-css" href="css/jquery.fancybox.css" media="all">
<link rel="stylesheet" id="cubeportfolio-css" href="css/cubeportfolio.min.css" media="all">
<link rel="stylesheet" id="bookworm-icons-css" href="css/bookworm-icons.css" media="screen">
<link rel="stylesheet" id="bookworm-style-css" href="css/style.css" media="all">
<link rel="stylesheet" id="bookworm-color-css" href="css/red.css" media="all">
<link rel="stylesheet" id="bookworm-fonts-css" href="css/css2.css" media="all">
<link rel="stylesheet" id="jquery-fixedheadertable-style-css" href="css/jquery.dataTables.css" media="all">
<link rel="stylesheet" id="yith_woocompare_page-css" href="css/compare.css" media="all">
<link rel="stylesheet" id="yith-woocompare-widget-css" href="css/widget.css" media="all">
<link rel="stylesheet" id="bookworm-child-style-css" href="css/style_004.css" media="all">
<script src="js/jquery.min.js" id="jquery-core-js"></script>
<script src="js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
<script src="js/react.min.js" id="react-js"></script>
<script src="js/react-dom.min.js" id="react-dom-js"></script>
<script src="js/escape-html.min.js" id="wp-escape-html-js"></script>
<script src="js/element.min.js" id="wp-element-js"></script>
<script src="js/slick.min.js" id="slick-js"></script>
<script src="js/popper.min.js" id="popper-js"></script>
<script src="js/bootstrap.min.js" id="bootstrap-js"></script>
<script src="js/hs.core.js" id="hs-core-js"></script>
<script src="js/hs.slick-carousel.js" id="hs-slick-carousel-js"></script>
<script src="js/jquery.countdown.min.js" id="jquery-countdown-js"></script>
<script src="js/hs.countdown.js" id="hs-countdown-js"></script>
<script src="js/lodash.min.js" id="lodash-js"></script>
<script id="lodash-js-after">
window.lodash = _.noConflict();
</script>
<script id="bwgb-block-frontend-js-js-extra">
var bookwormgb = {"ajaxUrl":"https:\/\/irongorillas.com\/wp-admin\/admin-ajax.php","srcUrl":"https:\/\/irongorillas.com\/wp-content\/plugins\/bookwormgb","contentWidth":"980","i18n":"bookwormgb","disabledBlocks":[],"nonce":"f5e5a1cfd8","devMode":"","cdnUrl":"https:\/\/d3gt1urn7320t9.cloudfront.net","wpRegisteredSidebars":"{\"cs-1\":{\"name\":\"Footer Contact Widget\",\"id\":\"cs-1\",\"description\":\"Widgets added here will appear in footer with contact details\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":0},\"cs-2\":{\"name\":\"Footer Contact Widget 12\",\"id\":\"cs-2\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":1},\"cs-3\":{\"name\":\"Footer v13 Column 1\",\"id\":\"cs-3\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":2},\"cs-4\":{\"name\":\"Footer v13 Column 2\",\"id\":\"cs-4\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":3},\"cs-5\":{\"name\":\"Footer v13 Column 3\",\"id\":\"cs-5\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":4},\"cs-6\":{\"name\":\"Footer v13 Column 4\",\"id\":\"cs-6\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":5},\"cs-7\":{\"name\":\"Footer v4 Column 4\",\"id\":\"cs-7\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":6},\"cs-8\":{\"name\":\"Footer v8 Column 1\",\"id\":\"cs-8\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":7},\"cs-9\":{\"name\":\"Footer v8 Column 2\",\"id\":\"cs-9\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":8},\"cs-10\":{\"name\":\"Footer v8 Column 3\",\"id\":\"cs-10\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":9},\"cs-11\":{\"name\":\"Footer v8 Column 4\",\"id\":\"cs-11\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"\",\"after_widget\":\"\",\"before_title\":\"\",\"after_title\":\"\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false,\"cs-key\":10},\"sidebar-shop\":{\"name\":\"Shop Sidebar\",\"id\":\"sidebar-shop\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget border p-4d875 %2$s\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<div class=\\\"widget-head\\\"><h3 class=\\\"widget-title font-weight-medium font-size-3 mb-4\\\">\",\"after_title\":\"<\\\/h3><\\\/div>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"sidebar-single\":{\"name\":\"Single Sidebar\",\"id\":\"sidebar-single\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget p-4d875 border mb-5 %2$s\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<h3 class=\\\"widget-title font-weight-medium font-size-3\\\">\",\"after_title\":\"<\\\/h3>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"blog-sidebar\":{\"name\":\"Blog Sidebar\",\"id\":\"blog-sidebar\",\"description\":\"\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget border p-4d875 %2$s\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<div class=\\\"widget-head\\\"><h3 class=\\\"widget-title font-weight-medium font-size-3 mb-4\\\">\",\"after_title\":\"<\\\/h3><\\\/div>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"footer-1\":{\"name\":\"Footer Column 1\",\"id\":\"footer-1\",\"description\":\"Widgets added here will appear in column 1 of the footer.\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget %2$s mb-6 mb-lg-8\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<h4 class=\\\"widget-title font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1\\\">\",\"after_title\":\"<\\\/h4>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"footer-2\":{\"name\":\"Footer Column 2\",\"id\":\"footer-2\",\"description\":\"Widgets added here will appear in column 2 of the footer.\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget %2$s mb-6 mb-lg-8\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<h4 class=\\\"widget-title font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1\\\">\",\"after_title\":\"<\\\/h4>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"footer-3\":{\"name\":\"Footer Column 3\",\"id\":\"footer-3\",\"description\":\"Widgets added here will appear in column 3 of the footer.\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget %2$s mb-6 mb-lg-8\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<h4 class=\\\"widget-title font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1\\\">\",\"after_title\":\"<\\\/h4>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"footer-4\":{\"name\":\"Footer Column 4\",\"id\":\"footer-4\",\"description\":\"Widgets added here will appear in column 4 of the footer.\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget %2$s mb-6 mb-lg-8\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<h4 class=\\\"widget-title font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1\\\">\",\"after_title\":\"<\\\/h4>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false},\"footer-5\":{\"name\":\"Footer Column 5\",\"id\":\"footer-5\",\"description\":\"Widgets added here will appear in column 5 of the footer. This widget area is available in Footer v2 only\",\"class\":\"\",\"before_widget\":\"<div id=\\\"%1$s\\\" class=\\\"widget %2$s mb-6 mb-lg-8\\\">\",\"after_widget\":\"<\\\/div>\",\"before_title\":\"<h4 class=\\\"widget-title font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1\\\">\",\"after_title\":\"<\\\/h4>\",\"before_sidebar\":\"\",\"after_sidebar\":\"\",\"show_in_rest\":false}}","locale":"en_US","paletteColor":[[{"name":"Primary","slug":"primary","color":"#f75454"},{"name":"Secondary","slug":"secondary","color":"#161619"},{"name":"Primary Green","slug":"primary-green","color":"#88cf00"},{"name":"Primary Yellow","slug":"primary-yellow","color":"#fced70"},{"name":"Info","slug":"info","color":"#17a2b8"},{"name":"Yellow Darker","slug":"yellow-darker","color":"#ffbd00"},{"name":"Bg Gray 200","slug":"bg-gray-200","color":"#fff6f6"},{"name":"Primary Home v3","slug":"primary-home-v3","color":"#041e42"},{"name":"Primary Indigo","slug":"primary-indigo","color":"#a200fc"},{"name":"White","slug":"bg-white","color":"#ffffff"},{"name":"Tangerine","slug":"tangerine","color":"#f79400"},{"name":"Tangerine Light","slug":"tangerine-light","color":"#faf4eb"},{"name":"Chili","slug":"chili","color":"#f01000"},{"name":"Chili Light","slug":"chili-light","color":"#f4e6e5"},{"name":"Carolina","slug":"carolina","color":"#00cdef"},{"name":"Carolina Light","slug":"carolina-light","color":"#e6f2f4"},{"name":"Punch","slug":"punch","color":"#ff8e8e"},{"name":"Bg Dark 1","slug":"bg-dark-1","color":"#2d3942"},{"name":"Pale Pink","slug":"pale-pink","color":"#f78da7"}]],"primaryColor":"#2091e1","isYithCompareActive":"1","isYithWcWlActive":"1","isWoocommerceActive":"1","isRTL":""};
</script>
<script src="js/frontend_blocks.js" id="bwgb-block-frontend-js-js"></script>
<script id="ays-pb-js-extra">
var pbLocalizeObj = {"ajax":"https:\/\/irongorillas.com\/wp-admin\/admin-ajax.php","seconds":"seconds","thisWillClose":"This will close in","icons":{"close_icon":"<svg class=\"ays_pb_material_close_icon\" xmlns=\"https:\/\/www.w3.org\/2000\/svg\" height=\"36px\" viewBox=\"0 0 24 24\" width=\"36px\" fill=\"#000000\" alt=\"Pop-up Close\"><path d=\"M0 0h24v24H0z\" fill=\"none\"\/><path d=\"M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z\"\/><\/svg>","close_circle_icon":"<svg class=\"ays_pb_material_close_circle_icon\" xmlns=\"https:\/\/www.w3.org\/2000\/svg\" height=\"24\" viewBox=\"0 0 24 24\" width=\"36\" alt=\"Pop-up Close\"><path d=\"M0 0h24v24H0z\" fill=\"none\"\/><path d=\"M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z\"\/><\/svg>","volume_up_icon":"<svg class=\"ays_pb_fa_volume\" xmlns=\"https:\/\/www.w3.org\/2000\/svg\" height=\"24\" viewBox=\"0 0 24 24\" width=\"36\"><path d=\"M0 0h24v24H0z\" fill=\"none\"\/><path d=\"M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z\"\/><\/svg>","volume_mute_icon":"<svg xmlns=\"https:\/\/www.w3.org\/2000\/svg\" height=\"24\" viewBox=\"0 0 24 24\" width=\"24\"><path d=\"M0 0h24v24H0z\" fill=\"none\"\/><path d=\"M7 9v6h4l5 5V4l-5 5H7z\"\/><\/svg>"}};
</script>
<script src="js/ays-pb-public.js" id="ays-pb-js"></script>
<script src="js/jquery.blockUI.min.js" id="jquery-blockui-js" defer="defer" data-wp-strategy="defer"></script>
<script id="wc-add-to-cart-js-extra">
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/irongorillas.com\/cart-2\/","is_cart":"","cart_redirect_after_add":"no"};
</script>
<script src="js/add-to-cart.min.js" id="wc-add-to-cart-js" defer="defer" data-wp-strategy="defer"></script>
<script src="js/js.cookie.min.js" id="js-cookie-js" defer="defer" data-wp-strategy="defer"></script>
<script id="woocommerce-js-extra">
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_password_show":"Show password","i18n_password_hide":"Hide password"};
</script>
<script src="js/woocommerce.min.js" id="woocommerce-js" defer="defer" data-wp-strategy="defer"></script>
<script src="js/jquery.bind-first-0.2.3.min.js" id="jquery-bind-first-js"></script>
<script src="js/js.cookie-2.1.3.min.js" id="js-cookie-pys-js"></script>
<script src="js/tld.min.js" id="js-tld-js"></script>
<script id="pys-js-extra">
var pysOptions = {"staticEvents":{"facebook":{"init_event":[{"delay":0,"type":"static","ajaxFire":false,"name":"PageView","pixelIds":["1205763917723361"],"eventID":"cbcab83b-ff2a-4666-8b4e-b4b6bebbe8e4","params":{"page_title":"Home","post_type":"page","post_id":3134,"plugin":"PixelYourSite","user_role":"guest","event_url":"irongorillas.com\/"},"e_id":"init_event","ids":[],"hasTimeWindow":false,"timeWindow":0,"woo_order":"","edd_order":""}]}},"dynamicEvents":[],"triggerEvents":[],"triggerEventTypes":[],"facebook":{"pixelIds":["1205763917723361"],"advancedMatching":[],"advancedMatchingEnabled":true,"removeMetadata":true,"wooVariableAsSimple":false,"serverApiEnabled":true,"wooCRSendFromServer":false,"send_external_id":null,"enabled_medical":false,"do_not_track_medical_param":["event_url","post_title","page_title","landing_page","content_name","categories","tags","category_name"],"meta_ldu":false},"debug":"","siteUrl":"https:\/\/irongorillas.com","ajaxUrl":"https:\/\/irongorillas.com\/wp-admin\/admin-ajax.php","ajax_event":"f2451f0062","enable_remove_download_url_param":"1","cookie_duration":"7","last_visit_duration":"60","enable_success_send_form":"","ajaxForServerEvent":"1","ajaxForServerStaticEvent":"1","send_external_id":"1","external_id_expire":"180","track_cookie_for_subdomains":"1","google_consent_mode":"1","gdpr":{"ajax_enabled":false,"all_disabled_by_api":false,"facebook_disabled_by_api":false,"analytics_disabled_by_api":false,"google_ads_disabled_by_api":false,"pinterest_disabled_by_api":false,"bing_disabled_by_api":false,"externalID_disabled_by_api":false,"facebook_prior_consent_enabled":true,"analytics_prior_consent_enabled":true,"google_ads_prior_consent_enabled":null,"pinterest_prior_consent_enabled":true,"bing_prior_consent_enabled":true,"cookiebot_integration_enabled":false,"cookiebot_facebook_consent_category":"marketing","cookiebot_analytics_consent_category":"statistics","cookiebot_tiktok_consent_category":"marketing","cookiebot_google_ads_consent_category":"marketing","cookiebot_pinterest_consent_category":"marketing","cookiebot_bing_consent_category":"marketing","consent_magic_integration_enabled":false,"real_cookie_banner_integration_enabled":false,"cookie_notice_integration_enabled":false,"cookie_law_info_integration_enabled":false,"analytics_storage":{"enabled":true,"value":"granted","filter":false},"ad_storage":{"enabled":true,"value":"granted","filter":false},"ad_user_data":{"enabled":true,"value":"granted","filter":false},"ad_personalization":{"enabled":true,"value":"granted","filter":false}},"cookie":{"disabled_all_cookie":false,"disabled_start_session_cookie":false,"disabled_advanced_form_data_cookie":false,"disabled_landing_page_cookie":false,"disabled_first_visit_cookie":false,"disabled_trafficsource_cookie":false,"disabled_utmTerms_cookie":false,"disabled_utmId_cookie":false},"tracking_analytics":{"TrafficSource":"direct","TrafficLanding":"https:\/\/irongorillas.com\/","TrafficUtms":[],"TrafficUtmsId":[]},"GATags":{"ga_datalayer_type":"default","ga_datalayer_name":"dataLayerPYS"},"woo":{"enabled":true,"enabled_save_data_to_orders":true,"addToCartOnButtonEnabled":true,"addToCartOnButtonValueEnabled":true,"addToCartOnButtonValueOption":"price","singleProductId":null,"removeFromCartSelector":"form.woocommerce-cart-form .remove","addToCartCatchMethod":"add_cart_hook","is_order_received_page":false,"containOrderId":false},"edd":{"enabled":false},"cache_bypass":"1756390669"};
</script>
<script src="js/public.js" id="pys-js"></script>

<link rel="shortlink" href="https://irongorillas.com/">


<!-- This site is using AdRotate v5.15.1 to display their advertisements - https://ajdg.solutions/ -->
<!-- AdRotate CSS -->
<style type="text/css" media="screen">
	.g { margin:0px; padding:0px; overflow:hidden; line-height:1; zoom:1; }
	.g img { height:auto; }
	.g-col { position:relative; float:left; }
	.g-col:first-child { margin-left: 0; }
	.g-col:last-child { margin-right: 0; }
	@media only screen and (max-width: 480px) {
		.g-col, .g-dyn, .g-single { width:100%; margin-left:0; margin-right:0; }
	}
</style>
<!-- /AdRotate CSS -->

<!-- HubSpot WordPress Plugin v11.3.16: embed JS disabled as a portalId has not yet been configured -->        <style>
            :root {
                --tpg-primary-color: #0d6efd;
                --tpg-secondary-color: #0654c4;
                --tpg-primary-light: #c4d0ff
            }

                        body .rt-tpg-container .rt-loading,
            body #bottom-script-loader .rt-ball-clip-rotate {
                color: #0367bf !important;
            }

                    </style>
			<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	<meta name="generator" content="Elementor 3.31.3; features: e_font_icon_svg, additional_custom_breakpoints, e_element_cache; settings: css_print_method-external, google_font-enabled, font_display-swap">
			<style>
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
					background-image: none !important;
				}
				@media screen and (max-height: 1024px) {
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
				@media screen and (max-height: 640px) {
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
			</style>
			<link rel="icon" href="images/irongorilla-logo-100x100.png" sizes="32x32">
<link rel="icon" href="images/irongorilla-logo.png" sizes="192x192">
<link rel="apple-touch-icon" href="images/irongorilla-logo.png">
<meta name="msapplication-TileImage" content="images/irongorilla-logo.png">
<script type="module" src="js/embedded.2085332a.js"></script><script src="js/jfclientsdk.min.js" async=""></script><script src="js/jfclientsdk.min.js" async=""></script><script src="js/jquery.mousewheel.min.js"></script><script src="js/wp-emoji-release.min.js" defer="defer"></script></head>
